* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Не работает подключение размера шрифта через медиа- никак не могу понять почему не работает, значения пока рандомные :(
@media(max-width: 544px) {
        h1 {font-size:50px;}
        h2 {font-size:15px;}
        h3 {font-size:10px;}
    }
@media(min-width: 544px) and (max-width: 800px) {
        h1 {font-size:80px;}
        h2 {font-size:40px;}
        h3 {font-size:20px;}
    }
@media(min-width: 800px) and (max-width: 1023px) {
        h1 {font-size:90px;}
        h2 {font-size:60px;}
        h3 {font-size:40px;}
    }
*/

@media(min-width: 767px) 
{
#menuToggle {
    display: none;
} 
}

@media(max-width: 767px)
{
    #menuToggle
{
  display: block;
  position: relative;
  z-index: 101;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 350px;
  margin: -0px 0 0 -50px;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 100px;
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: #cdcdcd;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
.nav1 {display: none;}
}



body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: white;
}

header {
    height: 10vh;
}

a:link {
    text-decoration: none;
}

a {
    color: aliceblue;
    font-weight: 700;
}

nav {
    display: grid;
    grid-template-areas:
        "lg lg lg  hm pf pf abt abt ct";
    font-size: 2.4vh;
    font-weight: 200;
    margin-left: 10vw;
    margin-top: 4vh;
}

.logo {
    grid-area: lg;
}

.home {
    grid-area: hm;
}

.portfolio {
    grid-area: pf;
    text-align: center;
}

.about {
    grid-area: abt;
}

.contact {
    grid-area: ct;
}

.container {
    position: relative;
    margin-bottom: 10%;
}

.box1 {
    position: relative;
    width: 60%;
    margin-left: 10vw;
}

.rectangle1 {
    position: relative;
    top: 10vh;
    width: 30%;
}

.rectangle2 {
    position: relative;
    left: 38%;
    width: 30%;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 18vw;
    line-height: 80%;
    text-align: center;
}

.title {
    position: absolute;
    z-index: 1;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 8vh;
    text-align: center;
}

h3 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 4vh;
}

h4 {
    font-size: 1.2vw;
}

.quote {
    background-color: white;
    position: relative;
    width: 15%;
    margin: auto;
}

.link2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.8vw;
    font-weight: 600;
    padding: 5%;
    color: black;
    display: flex;
    justify-content: center;
}

.container3 {
    margin: auto;
    margin-bottom: 10%;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.pics {
    max-width: 450px;
    width: 100%
}

.pics2,
.pic3 {
    align-self: flex-start;
}

.pics4 {
    align-self: baseline;
    margin-top: -40vh;
}

.pics5 {
    align-self: flex-start;
    margin-top: -20vh;
}

.pic6 {
    align-self: flex-end;
}

.about1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.text_about {
    font-family: 'Inter';
    font-size:1.5em;
    margin: 2%;
    width: 25%;
    display: flex;
    align-items: center;
}

/*настраиваю width 100% но все равно фото не сжимается*/
.pic_student {
    width: 100%;
    max-width: 400px;
}

.testimonials {
    margin-bottom: 15%;
}

.text_testimonials {
    margin: auto;
    width: 60%;
    margin-bottom: 5%;
    text-align: center;
}

.flex_people {
    margin: auto;
    display: flex;
    gap: 1%;
    width: 60%;
    align-items: center;
}

.row_up,
.row_down,
.row_aside {
    background: #181818;
}

.flex_in {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: stretch;
    align-content: flex-end;
}

.photo_man {
    max-width: 200px;
    width: 100%
}

.photo_man1 {
    max-width: 350px;
    width: 100%
}

.person1 {
    display: flex;
    background-color: #181818;
}

.person2 {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #181818;
}

.person3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #181818;
}

.text1 {
    font-family: 'Inter';
    text-align: justify;
    margin: 10px;
    font-size: 1.5vh;
    font-weight: 300;
    width: 70%;
}

.row_aside {
    display: flex;
}

.p3 {
    flex-basis: 60%;
}

.bt {
    margin: 5%;
    text-align: center;
}

.bt2 {
    border: 2px solid white;
    padding: 1.5%;
    min-width: 19%;
    width: 19%;
    margin: auto;
}

.review {
    font-size: 2vh;
    ;
}

.container5 {
    width: 60%;
    margin: auto;
}

.container6 {
    text-align: start;
}

.inp1 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 4vh;
    margin: 20px;
}

input[type=text],
input[type=email] {
    background-color: black;
    border: 0px;
    outline: none;
    color: white;
    font-size: 2.5vh;
    width: 200px;
    margin-bottom: 0px;
}

.vector {
    max-width: 800px;
    width: 100%
}

textarea {
    background-color: black;
    width: 60%;
    height: 200px;
    color: white;
    font-size: 3vh;
    color: #BBBBBB;
    border: 0px;
    outline: none;
    margin-top: 10px;
    font-family: 'Inter';
}

input[type=submit] {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 3.5vh;
    border: none;
    cursor: pointer;
    width: 187.84px;
    height: 72.14px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 150px;
    background-color: white;
}

#mess {
    font-family: 'Inter', sans-serif;
}

.but {
    display: flex;
    margin: auto;
    justify-content: center;

}

.cont6 {
    display: flex;
    flex-direction: column;
    margin: 20px;
}