*    {margin:0;
    padding:0;}

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: white;
}
nav {
display: grid;
grid-template-areas: 
"lg lg lg  lg hm pf abt ct" ;
font-size: 20px;
margin-left: 100px;
margin-top:50px;
}


a:link {
    text-decoration:none;
}
a{
    color:aliceblue;
    font-weight: 700;
}
.logo {
    grid-area:lg;
}
.home {
    grid-area:hm;
}
.portfolio {
    grid-area:pf;
text-align: center;
}
.about {
    grid-area:abt;
}
.contact {
    grid-area:ct;
}

.container {
    position: relative;
    height:800px;
}
.box1  {
    position: relative;
    top:80px;
    left:100px;
    width:678.9px;
}

.rectangle1 {
    position: relative;
    top:200px;
    width: 30%;
}
.rectangle2 {
    position: relative;
    left:38%;
    width: 30%;
}

h1 {
position: relative;
width: 80%;
left: 10%;
bottom: 45%;
z-index: 1;

font-family: 'Playfair Display', serif;
font-style: normal;
font-weight: 700;
font-size: 250px;
line-height:80%;
text-align: center;
}

h2 {
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 81.3081px;
text-align: center;
}

.quote {
background-color: white;
position: relative;
width: 15%;
height: 4%;
bottom:40%;
left:45%;
font-family: 'Inter';
font-style: normal;
font-size: 25px;

}

.link2 {
color: black;
display: flex;
justify-content: center;
}
.container3 {
    width:1200px;
    margin: auto;
}
.pictures { 
    height:3000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    gap:30px;
}
.pics {
    width:40%;
    max-width: 100%;
}
.about {
    display: flex;
    justify-content: center;
}
.ab {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    margin: 20px;
    width: 600px;
}
.students {
    width:450px;
}
.testimon {
    text-align:center;
    width:1000px;
    margin-left:200px;
    margin: auto;
}

.row_up, .row_down, .row_aside {
width: 400px;
height: 300px;
background: #181818;
border: 1px red;
}

.photo_man {
    height: 300px;
}

.people,.people2 {
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap:10px;

}
h3 {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
}

.text1 {
    text-align: justify;
    margin: 10px;
    font-size: 15px;
}
.container5 {
    width:700px;
    height:700px;
    margin: auto;
}
.container6 {
    text-align: start;
}
.inp1 {    
font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
font-size: 30px;
margin:20px;
}
input[type=text], input[type=email] {
    background-color: black;
    color:white;
    font-size: 20px;;
    height:30px;
    width:100px;
    margin-bottom: 0px;
}  

.vector {
    width:600px;
}
textarea {
    background-color: black;
    width:600px;
    height:200px;
    color:white;
    font-size: 20px;
    color: #BBBBBB;
}

input[type=submit] {
font-family: 'Inter';
font-style:normal;
font-weight:600;
font-size:32px;
cursor: pointer;
width:187.84px;
height:72.14px;
display:flex;
justify-content:center;
align-self: center;
width:150px;
background-color: white;
}
.but {
    display: flex;
    justify-content: center;
}